<ng-template [ngIf]="proposition && !hide">
  <app-hideable>
    <div slot="buttonOnTheRight">
      <app-arguments-list *ngIf="isSingleProposition" [argumentsList]="singleProposition.premisesArguments"></app-arguments-list>
    </div>
  </app-hideable>
  <div class="mainProposition">
    <app-proposition [proposition]="proposition"></app-proposition>
  </div>
  <app-hideable>
    <div slot="buttonOnTheLeft">
      <app-arguments-list [argumentsList]="proposition.conclusionsArguments" [showConclusions]="true"></app-arguments-list>
    </div>
  </app-hideable>
</ng-template>
